.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{
  background-color: #f3f3f4;
  
}

.mycard {
  background-color: white;
  padding: 0px;
}
.mycard img{
  border-bottom: 0.5px solid #4ec697
}

.buttongenre{
  background-color:lightgrey;
  border: 1px solid lightgrey;
  color: black;
  font-size: 9px;
  font-weight: bolder;
  padding: 5px;
  text-align: center;

  cursor: pointer;
  border-radius: 20px;
}

.headername {
  font-family: sans-serif;
  font-size: 13px;
  font-weight: bolder;
  text-align: center;
  text-transform: uppercase;
  color: white;
}

.adminbackcolor { 
  
}
.mycard { 
  background-color: #2d2d2d;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
  font-size : 22px;
  font-weight: bolder;
  
}
.mycard img {
  padding: 0px
}
.mycardtext{
  padding: 20px;
  padding-bottom: 0px;
}

/* .mycard .logo {
  position: absolute;
  top: 1%;
  left: 90%;

  background-color: #4ec697;
  color: white;

  border: none;
  padding: 5px 10px 5px 10px;

  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
 
  border-radius: 50%;
} */

.readmore:hover{
  cursor: pointer;
}


.banner { 
  height : 400px;
  overflow: hidden;
}

.banner .logobanner {
  position: absolute;
  top: 25%;
  left: 42%;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 40px;
  border-radius: 40px;
  padding : 12px;
  color: white;
  border: 3px solid white;
  overflow: hidden;

  
}

.logobanner:hover{
  background-color: transparent;
  color : black;
  border : 3px solid black;
  cursor: pointer;
  overflow: hidden;
}

.mycontainer {
  min-height: 100%;
  
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #171717;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: left top;

 
}

.navbarheader{
  background-color: rgba(52, 52, 52, 0.5);
  position : fixed;
  width : 100%;
  z-index: 5;
}

.filtercss {
  height : 45px;
  font-weight: bolder;
  font-size: 18px;
  color: white;
  background-color: "#c02c3a"

}

/* div {
  border: 1px solid red
} */

.seatavailable {
  color : white;
}

.seatreserved {
  color : green
}

.Booked {
  color : red
}